<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>

<body>
	<%- include("./partials/header") %>

	<!-- Login -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<div class="col-12">
				<form action="/profile/login" method="POST" class="formulario">
					<label for="email">Usuario (Email):</label>
					<input type="email" id="email" name="email" required><br>
				  
					<label for="password">Contraseña:</label>
					<input type="password" id="password" name="password" required><br>
				  
					<label for="recordarme">
						<input type="checkbox" id="recordarme" name="recordarme"> Recordarme
					</label><br>
				  
					<button type="submit">Iniciar sesión</button>
				</form>
			</div>
		</div>
	</div>

	<%- include("./partials/footer") %>
</body>

</html>