<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>

<body>
	<% if (locals.usuarioLogueado) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header") %>
	<% } %>

	<!-- Agregar productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<div class="col-12">
				<form action="/products/guardar" method="POST" class="formulario">
					<label for="imagen">Nombre de la imagen (con extensión):</label>
					<input type="text" id="imagen" name="imagen" placeholder="ejemplo.jpg" required><br>
				  
					<label for="nombre">Nombre del producto:</label>
					<input type="text" id="nombre" name="nombre" required><br>
				  
					<label for="descripcion">Descripción corta:</label>
					<textarea id="descripcion" name="descripcion" required></textarea><br>
				
					<button type="submit">Agregar producto</button>
				</form>
			</div>
		</div>
	</div>

	<%- include("./partials/footer") %>
</body>

</html>