<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>

<body>
	<% if (locals.usuarioLogueado) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header") %>
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
				<form action="/products/guardar" method="POST">
				<div class="form-group">
					<label for="imagen">Nombre de la imagen (con extensión):</label>
					<input type="text" id="imagen" name="imagen" placeholder="ejemplo.jpg" required>
				</div>

				<div class="form-group">
					<label for="nombre">Nombre del producto:</label>
					<input type="text" id="nombre" name="nombre" required>
				</div>

				<div class="form-group">
					<label for="descripcion">Descripción corta:</label>
					<textarea id="descripcion" name="descripcion" required></textarea>
				</div>

				<button type="submit">Agregar producto</button>
				</form>


	<%- include("./partials/footer") %>
</body>

</html>